<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/Details-Style.css' %}">
    <script src="javaScript/cart.js" defer></script>
</head>

<body>
    <header>
        <h1>Ticket-Tech</h1>
        <nav>
            <!-- always update these when you make a new header, do for all pages-->
            <ul>
                <li><a href="{% url 'concerts' %}">Concerts</a></li>
                <li><a href="{% url 'search-form'%}">Search</a></li>
                <li><a href="{% url 'login'%}">Log In</a></li>
                <li><a href="{% url 'signup'%}">Sign Up</a></li>
            </ul>
        </nav>
        <d id="cart-icon" onclick="showCart()">🛒</d>
    </header>
</body>
<main id="Details"></main>

<script>

function parseURLData(){
   const url = new URL(window.location.href);
   return url.searchParams.get('artist');
}

async function fetchArtistInfo(){
    try {
                const response = await fetch('/get_artists/');

                if (!response.ok) {
                    throw new Error(`Failed to fetch data. Status: ${response.status}`);
                }

                return await response.json();
            } catch (error) {
                console.error(error);
                return null;
            }
        
}

async function fetchConcertInfo(){
    try {
                const response = await fetch('/get_concerts/');

                if (!response.ok) {
                    throw new Error(`Failed to fetch data. Status: ${response.status}`);
                }

                return await response.json();
            } catch (error) {
                console.error(error);
                return null;
            }
        
}

function generateDetailsHtml(artist,concert){
    return`
    <article>
        <h1>
            <figure>
                <img src="images/1-1_image_1080.jpg" alt="Band/person/ team IMG">
            </figure>
            <a rel="author">${artist.ArtistName}</a>
            <p>Location: ${concert.Venue}, ${concert.City} </p>
            <p>Date: ${concert.ConcertDate}</p>
            <p>Price: ${concert.TicketPrice}</p>
            <p>Quantity: ${concert.TicketQuantity}</p>
            <div>
                <p2>
                    <br> Description: The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog The quick brown fox jumped over the lazy dog The quick brown fox jumped over the lazy dog The quick brown fox jumped over
                    the lazy dogThe quick brown fox jumped over the lazy dog The quick brown fox jumped over the lazy dog The quick brown fox jumped over the lazy dog
                    </br>
                </p2>
            </div>
            <div>
                <button class="see-more-button" onclick="addToCart('${artist.ArtistName}'+,'${concert.TicketPrice}')">Add to Cart</button>
            </div>
        </h1>
    </article>`;
}

async function renderDetails(){
    //Linking the generated HTML file to <main>
    const DetailsPage = document.getElementById('Details');
    //initalizing information
    const count = 0;
    const artistData = await fetchArtistInfo();
    const concertData = await fetchConcertInfo();

    artistData.forEach(artist => {
        //Checking artist name from DB with URL data
        if(artist.ArtistName == parseURLData()){
            const ArtistId = artist.ArtistId;
            concertData.forEach(concert => {
                //Checking if the concert's artist is the same as the one in the page URL. 
                if(concert.ArtistId == ArtistId){
                    const detailsHTML = generateDetailsHtml(artist,concert);
                    DetailsPage.innerHTML += detailsHTML;
                }
            });
        }
        
    });
}
</script>

<script>
    window.onload = function() {
        renderDetails();
        displayCartContent();
    };
</script>

</html>