<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/Details-Style.css' %}">
    <script src="{% static 'javaScript/cart.js' %}" defer></script>
</head>

<body>
    <header>
        <h1>Ticket-Tech</h1>
        <nav>
            <ul>
                <li><a href="{% url 'concerts' %}">Concerts</a></li>
                <li><a href="{% url 'search-form'%}">Search</a></li>
                <li><a href="{% url 'login'%}">Log In</a></li>
                <li><a href="{% url 'signup'%}">Sign Up</a></li>
            </ul>
        </nav>
        <div id="cart-icon" onclick="showCart()">🛒</div>
    </header>

    <main>
        <article>
            <h1>{{ artist.ArtistName }}</h1>
            <p>Artist ID: {{ artist.ArtistId }}</p>

            <section class="concerts">
                <h2>Concerts</h2>
                {% for concert in concerts %}
                <div class="concert-details">
                    <h3>Concert Date: {{ concert.ConcertDate }}</h3>
                    <p><strong>Venue:</strong> {{ concert.Venue }}</p>
                    <p><strong>City:</strong> {{ concert.City }}</p>
                    <p><strong>Ticket Quantity:</strong> {{ concert.TicketQuantity }}</p>
                    <p><strong>Ticket Price:</strong> {{ concert.TicketPrice }}</p>
                    <button class="add-to-cart-button" onclick="addToCart('{{ artist.ArtistName }} - {{ concert.ConcertDate }}', {{ concert.TicketPrice }})">Add to Cart</button>
                </div>
                {% endfor %}
            </section>
        </article>
    </main>

    <script>
        window.onload = function() {
            displayCartContent();
        };
    </script>

</body>

</html>

