<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/Signup-Style.css' %}">
    <script src="{% static 'javaScript/cart.js' %}" defer></script>
    <title>Login</title>
</head>

<body>
    <header>
        <h1>Ticket-Tech</h1>
        <nav>
            <!-- Update these links accordingly -->
            <ul>
                <li><a href="{% url 'concerts' %}">Concerts</a></li>
                <li><a href="{% url 'search-form'%}">Search</a></li>
                <li><a href="{% url 'login'%}">Log In</a></li>
                <li><a href="{% url 'signup'%}">Sign Up</a></li>
            </ul>
        </nav>
        <div id="cart-icon" onclick="showCart()">🛒</div>
    </header>

    <main>
        <div class="container">
            <h2>Log In</h2>
            <!-- Redirect to registration page if needed -->
            <p>Don't have an account? <a href="{% url 'signup'%}">Register here</a>.</p>
            <form id="loginForm" action="{% url 'login' %}" method="post">

                {% csrf_token %}
                {{ form.as_p }}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <!-- Optional: Add a link for password recovery -->
                <p style="text-align: right;"><a href="#" onclick="forgotPassword()">Forgot Password?</a></p>
                <button type="submit">Log In</button>
            </form>

        </div>
    </main>

    <script>
        // Form submission logic for login
        function validateForm(event) {
            event.preventDefault();
            document.getElementById("loginForm").submit();
        }
    </script>

</body>

</html>
