<!DOCTYPE html>
<html lang="en">

<head>
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- <link rel="stylesheet" href="fontawesome/css/all.css"> -->
    <link rel="stylesheet" href="{% static 'CSS/User-page.css' %}">

    <script src="{% static 'javaScript/userPage.js' %}" defer></script>

    <title>User Account</title>
</head>

<body>
    <header>
        <h1>Ticket-Tech</h1>
        <nav>
            <!-- always update these when you make a new header, do for all pages-->
            <ul>
                <li><a href="{% url 'concerts' %}">Concerts</a></li>
                <li><a href="{% url 'search-form' %}">Search</a></li>
                {% if user.is_authenticated %}
                    <li><span>Welcome, {{ user.username }}</span></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup'%}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav> 
    </header>



    <div class="container">
        <div class="w-100 d-flex justify-content-between">
            <div class="w-25 leftbox">
                <div>
                    <a id="ticketButton" href="#">My Tickets</a>
                </div>
                <div>
                    <a id="profileButton" href="#">Personal Information</a>
                </div>
                <div>
                    <a id="paymentButton" href="#">Payment Information</a>
                </div>
            </div>
    
            <div class="w-75 p-3 rightbox">

                <div id="ticket" class="tickets">
                    <h1>My Tickets</h1>
                    <div>
                        <h2>Upcoming Events</h2>
                        <a href="#">#110023123 </a>
                    </div>
                    <div>
                        <h2>Past Events</h2>
                        <a href="#">#110231231 </a>
                    </div>
                </div>
                
                <div id="profile" class="profile noneDisplay">
                    <h1>My Profile</h1>
                    <div>
                        <h2>Username</h2>
                        <input id = profileName type="text" value="qwerty1111" class="input" v-model="user.username">
                    </div>
        
                    <div>
                        <h2>Email</h2>
                        <input id = profileEmail  value="helloworld@gmail.com" class="input" v-model="user.email">
                    </div>
        
                    <div>
                        <h2>Password</h2>
                        <input id = profilePassword type="password" value="" class="input" v-model="user.password">
                    </div>
                </div>
        
                <div id="payment" class="payment noneDisplay">
                    <h1>Payment Information</h1>
                    <div>
                        <h2>Payment Method</h2>
                        <input id = "paymentMethod" type="text" value="Master Card - John" class="input" v-model="payment.method">
                    </div>
        
                    <div>
                        <h2>Billing Address</h2>
                        <input id = "paymentAddress" type="text" value="3333 University Way, Kelowna" class="input" v-model="payment.address">
                    </div>
        
                    <div>
                        <h2>Postal Code</h2>
                        <input id = "paymentPostalCode" type="text" value="V1V 1V7" class="input" v-model="payment.postalCode">
                    </div>
                </div>

<a href="{% url 'admin_page' %}">
                            <button class="btn">Go to Admin Page</button>
                        </a>
                {% if user.is_authenticated %}
                    {% if user.client.isValid %}
                        
                    {% endif %}
                {% endif %}
              
              
             <!--   <a href="{% url 'admin_page' %}">
                <button class="btn">Go to Admin Page</button> </a>
            
            
                <button class="btn">Update</button> -->
             
                
            </div>
        </div>
   
    </div>

    <script>
        async function fetchClientFromDjango(){
            try {
                const response = await fetch('/get_client/');

                if (!response.ok){
                    throw new Error(`Failed to fetch data. Status: ${response.status}`);
                }

                return await response.json();
            } catch (error) {
                console.error(error);
                return null;
            }
        }

        async function fetchPaymentFromDjango(){
            try {
                const response = await fetch('/get_payment/');

                if (!response.ok){
                    throw new Error(`Failed to fetch data. Status: ${response.status}`);
                }

                return await response.json();
            } catch (error) {
                console.error(error);
                return null;
            }
        }

        async function renderClient(){ 
            const clientData = await fetchClientFromDjango();

            const userName = document.getElementById('profileName');
            const userEmail = document.getElementById('profileEmail');
            const userPassword = document.getElementById('profilePassword');

            userName.value = clientData[0].name;
            userEmail.value = clientData[0].email;
            userPassword.value = clientData[0].password;
        }

        async function renderPayment(){ 
            const paymentData = await fetchPaymentFromDjango();

            const paymentType = document.getElementById('paymentMethod');
            const paymentAddress = document.getElementById('paymentAddress');
            const paymentPostalCode = document.getElementById('paymentPostalCode');

            paymentType.value = paymentData[0].paymentType;
            paymentAddress.value = paymentData[0].address;
            paymentPostalCode.value = paymentData[0].postalCode;
            console.log(paymentData)
        }
        window.onload = function(){
            renderClient();
            renderPayment();
        }
        

    </script>
    
     
    
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="javaScript/userPage.js"></script>
<script src="unit_testing/userPageTesting.js"></script>


</body>

    

</html>